<!DOCTYPE html>
<html lang="ko" ng-app="MonitoringApp">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
    <link rel="stylesheet" href="css/angular-material.1.1.8.min.css">
    <style type="text/css">
        
    </style>


</head>
<body>
	<div ng-controller="ToolbarCtrl" ng-cloak>
        <md-content>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    
        
                    <h2 flex md-truncate>ENS - Taewoong System Monitoring</h2>
                    
                    <md-button class="md-icon-button" aria-label="Alarm" >
                        <md-icon md-svg-icon="img/alarm.svg"></md-icon>
                    </md-button>
                    <div>
                        {{date | date:'yyyy-MM-dd HH-mm-ss'}}
                    </div>
                </div>
            </md-toolbar>
            <br>
        </md-content>
    </div>
    <div ng-controller="GasCtrl">
        <div id="Gas1Graph" style="height: 300px; width: 60%"></div>
        <div id="Gas2Graph" style="height: 300px; width: 60%"></div>
        <div id="Gas3Graph" style="height: 300px; width: 60%"></div>
        <div id="Gas4Graph" style="height: 300px; width: 60%"></div>
        <div id="Gas5Graph" style="height: 300px; width: 60%"></div>
    </div>

    
	
</body>
	
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>

    <script type="text/javascript">
        var myApp = angular.module('MonitoringApp', ['ngMaterial']);
        
        myApp.controller('ToolbarCtrl',['$scope', '$interval', function($scope, $interval) {
            $interval(function(){
                $scope.date = new Date();
            },1000);
        }]);

        myApp.controller('GasCtrl', ['$scope','$http', '$interval', function($scope, $http, $interval){
            $scope.gasTimestamp = [];
            $scope.gasAmount = [];
            getGasAmount("1");
            getGasAmount("2");
            getGasAmount("3");
            getGasAmount("4");
            getGasAmount("5");

            $interval(function(){
                getGasAmount("1");
                getGasAmount("2");
                getGasAmount("3");
                getGasAmount("4");
                getGasAmount("5");
            },30000);

            function getGasAmount(gasNumber){
                console.log("Function Call! "+ gasNumber);
                $http({
                    method  : 'GET',
                    url     : 'http://localhost:18000/Gas/'+gasNumber,
                    config: 'Content-Type: application/json;'
                }).
                then(function successCallback(response) {
                    $scope.gasTimestamp = [];
                    $scope.gasAmount = [];
                    for (var i = response.data.length-2 ; i >= 0 ; i--) {
                        $scope.gasTimestamp.push(response.data[i].createdAt)
                        $scope.gasAmount.push( (response.data[i].value - response.data[i+1].value) / 10)
                    }
                    setGraphData(gasNumber, "Gas"+gasNumber+"Graph");
                },function errorCallback(response) {
                  console.log('error occuring');
                });
            }

            function setGraphData(gasNumber, graphID){
                var dom = document.getElementById(graphID);
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                var date = $scope.gasTimestamp;
                var data = $scope.gasAmount;

                option = {
                    tooltip: {
                        trigger: 'axis',
                        position: function (pt) {
                            return [pt[0], '10%'];
                        }
                    },
                    title: {
                        left: 'center',
                        text: '가열로 # '+gasNumber,
                    },
                    toolbox: {
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: date
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '1%']
                    },
                    dataZoom: [{
                        type: 'inside',
                        start: 83,
                        end: 100
                    }, {
                        start: 0,
                        end: 10,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '80%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    series: [
                        {
                            name:'가스량',
                            type:'line',
                            smooth:true,
                            symbol: 'circle',
                            symbolSize: [6,6],
                            sampling: 'average',
                            itemStyle: {
                                color: 'rgb(255, 70, 131)'
                            },
                            areaStyle: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                }, {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }])
                            },
                            data: data
                        }
                    ]
                };
                
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        }]);

        

                


    </script>
</html>