<!DOCTYPE html>
<html lang="ko" ng-app="MonitoringApp">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ENS Monitoring</title>
    <link rel="stylesheet" href="/css/angular-material.1.1.8.min.css">
    <link rel="stylesheet" href="/css/ens.css">
</head>

<body>
    <div ng-controller="ToolbarCtrl" ng-cloak>
        <div layout="column" ng-cloak="" class="sidenavdemoCustomSidenav">
            <section layout="row" flex="">
                <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

                    <md-toolbar class="md-theme-indigo">
                        <div>
                            <h1 class="md-toolbar-tools">가열로 List <md-icon md-svg-icon="/img/cancel.svg" ng-click="toggleLeft()"></md-icon></h1>
                        </div>
                    </md-toolbar>

                    <md-content layout-margin="">
                        <md-list-item class="md-3-line" ng-repeat="item in MenuList" ng-click="pageChange($event, item)">
                            <div class="md-list-item-text" layout="column"  >
                                <div ng-value={{item.urls}}><md-icon md-svg-icon={{item.icon_img}}></md-icon>{{ item.name }}</div>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line sub-list-item" ng-repeat="item in HFlist" ng-click="HFhistory($event, item)">
                            <div class="md-list-item-text" layout="column" >
                                <div ng-value={{item.HFid}}><md-icon md-svg-icon="/img/fire.svg"></md-icon>{{ item.name }}</div>
                            </div>
                        </md-list-item>
                    </md-content>

                </md-sidenav>
            </section>
        </div>
        <md-content>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
                        <md-icon md-svg-icon="/img/menu.svg"></md-icon>
                    </md-button>
                    <h2 flex md-truncate>ENS - Taewoong System Monitoring</h2>
                    <md-button class="md-icon-button" aria-label="Alarm" >
                        <md-icon md-svg-icon="/img/alarm.svg"></md-icon>
                    </md-button>
                    <div>
                        {{date | date:'yyyy-MM-dd HH-mm-ss'}}
                    </div>
                </div>
            </md-toolbar>
            <br>
        </md-content>
    </div>

    <div class="GraphForm" ng-controller="GraphCtrl">
        <div class="liveCheckBox">
            <md-checkbox ng-model="liveCheckbox" ng-change="">
            <strong>Live update (1 min)</strong>
            </md-checkbox>
        </div>
        <div class="GraphContainer">
            <h3>가열로 1호기</h3>
            <div class="Graph-Frame" id="1hogi" >
                <md-progress-circular md-mode="indeterminate" md-diameter="80"></md-progress-circular>
            </div>
        </div>
        <hr/>
        <div class="GraphContainer">
            <h3>가열로 2호기</h3>
            <div class="Graph-Frame" id="2hogi">
                <md-progress-circular md-mode="indeterminate" md-diameter="80"></md-progress-circular>
            </div>
        </div>
        <hr/>
        <div class="GraphContainer">
            <h3>가열로 3호기</h3>
            <div class="Graph-Frame" id="3hogi">
                <md-progress-circular md-mode="indeterminate" md-diameter="80"></md-progress-circular>
            </div>
        </div>
        <hr/>
        <div class="GraphContainer">
            <h3>가열로 4호기</h3>
            <div class="Graph-Frame" id="4hogi">
                <md-progress-circular md-mode="indeterminate" md-diameter="80"></md-progress-circular>
            </div>
        </div>
        <hr/>
        <div class="GraphContainer">
            <h3>가열로 5호기</h3>
            <div class="Graph-Frame" id="5hogi">
                <md-progress-circular md-mode="indeterminate" md-diameter="80"></md-progress-circular>
            </div>
        </div>
    </div>

    
    
</body>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>

    <script type="text/javascript">
        var myApp = angular.module('MonitoringApp', ['ngMaterial']);
        
        myApp.controller('ToolbarCtrl', function($scope, $interval, $mdSidenav, $window, $location) {
            $interval(function(){
                $scope.date = new Date();
            },1000);

            $scope.toggleLeft = buildToggler('left');
            function buildToggler(componentId) {
                return function() {
                    $mdSidenav(componentId).toggle();
                };
            }

            $scope.MenuList = [
                { name : '전체 모니터링', urls : 'main', icon_img: '/img/monitor.svg'},
                { name : '가열로 이력 검색', urls : 'history', icon_img : '/img/history.svg'}
            ];

            $scope.HFlist = [
                {
                    name : '가열로 1호기',
                    HFid: '1',
                },{
                    name : '가열로 2호기',
                    HFid: '2',
                },{
                    name : '가열로 3호기',
                    HFid: '3',
                },{
                    name : '가열로 4호기',
                    HFid: '4',
                },{
                    name : '가열로 5호기',
                    HFid: '5',
                }
            ];
            $scope.HFhistory = function(event, item){
                var linkURL = "http://" + $window.location.host + "/history/" +item.HFid;
                $window.location.href = linkURL;
            };
            $scope.pageChange = function(event, item){
                var linkURL = "http://" + $window.location.host + "/" +item.urls;
                $window.location = linkURL;
            }
        }); 


        myApp.controller('GraphCtrl', function($scope, $http, $interval, $timeout){
            var heatingFurnaceList = [] ;
            var updateInterv = undefined;
            var basicDateTimeLen = 120;
            $scope.liveCheckbox = true;

            function HeatingFurnaceClass(heatingFurnaceNumber){
                var heatingFurnaceNumber = heatingFurnaceNumber;
                var grapID = heatingFurnaceNumber+'hogi'
                var gasAmount = [];
                var electAmount = [];
                var temperAmount = [];
                var timestamps = [];
                
                function setDateTime(sec){
                    var nowDate = new Date( new Date('2018-12-24 10:00')-(1000*60*sec) );
                    //var nowDate = new Date( new Date()-(1000*60*sec) );
                    var months = ['01','02','03','04','05','06','07','08','09','10','11','12'];
                    var year = nowDate.getFullYear();
                    var month = months[nowDate.getMonth()];
                    var date = (nowDate.getDate()<10?'0':'')+nowDate.getDate();
                    var hour = (nowDate.getHours()<10?'0':'')+nowDate.getHours();
                    var min = (nowDate.getMinutes()<10?'0':'')+nowDate.getMinutes();
                    return year+'-'+month+'-'+date+' '+ hour + ':' + min;
                }

                for(var i=basicDateTimeLen; i>=0; i--){
                    timestamps.push(setDateTime(i));
                }

                $scope.pickDateTime={
                    start : timestamps[0],
                    end : timestamps[basicDateTimeLen]
                };

                function getGasInfo(){
                    var params = {
                        'start' : $scope.pickDateTime.start,
                        'end' : $scope.pickDateTime.end
                    };
                    $http({
                        method  : 'POST',
                        url     : 'http://210.223.173.191:18000/Gas/'+heatingFurnaceNumber,
                        data : params,
                        config: 'Content-Type: application/json;'
                    }).
                    then(function successCallback(response) {
                        gasAmount = [];
                        var gasUsage = [];
                        var gasTotal = [];
                        var dateIndex = 0;
                        for (var i = 0 ; i < timestamps.length ; i++) {
                            gasUsage[i] = 0;
                            gasTotal[i] = 0;
                        }
                        
                        for (var i = 1 ; i < response.data.length ; i++) {
                            var index = timestamps.indexOf(response.data[i].createdAt);
                            gasUsage[index] = (response.data[i].value - response.data[i-1].value) / 10;
                            gasTotal[index] = response.data[i].value / 10;
                        }

                        gasAmount.push({
                            'usage' : gasUsage,
                            'total' : gasTotal
                        });
                    },function errorCallback(response) {
                      console.log('error occuring : getGasInfo=function');
                    });
                }

                function getElectricityInfo(){
                    var params = {
                        'start' : $scope.pickDateTime.start,
                        'end' : $scope.pickDateTime.end
                    };                    
                    $http({
                        method  : 'POST',
                        url     : 'http://210.223.173.191:18000/Electricity/'+heatingFurnaceNumber,
                        data : params,
                        config: 'Content-Type: application/json;'
                    }).
                    then(function successCallback(response) {
                        electAmount = [];
                        var electUsage = [];
                        var electTotal = [];
                        var dateIndex = 0;
                        for (var i = 0 ; i < timestamps.length ; i++) {
                            electUsage[i] = 0;
                            electTotal[i] = 0;
                        }

                        for (var i = 1 ; i < response.data.length ; i++) {
                            var index = timestamps.indexOf(response.data[i].createdAt);
                            electUsage[index] = (response.data[i].value - response.data[i-1].value).toFixed(2);
                            electTotal[index] = response.data[i].value.toFixed(2);
                        }
                        electAmount.push({
                            'usage' : electUsage,
                            'total' : electTotal
                        });
                    },function errorCallback(response) {
                      console.log('error occuring : getElectricityInfo=function');
                    });
                }

                function getTemperature1(){
                    var params = {
                        'start' : $scope.pickDateTime.start,
                        'end' : $scope.pickDateTime.end,
                        'tKind' : '1'
                    };                    
                    $http({
                        method  : 'POST',
                        url     : 'http://210.223.173.191:18000/Temperature/'+heatingFurnaceNumber,
                        data : params,
                        config: 'Content-Type: application/json;'
                    }).
                    then(function successCallback(response) {
                        temperAmount = [];
                        var temper1Usage = [];
                        var dateIndex = 0;
                        for (var i = 0 ; i < timestamps.length ; i++) {
                            temper1Usage[i] = 0;
                        }

                        for (var i = 1 ; i < response.data.length ; i++) {
                            var index = timestamps.indexOf(response.data[i].createdAt);
                            temper1Usage[index] = response.data[i].value/10;
                        }
                        temperAmount.push({
                            'temper1' : temper1Usage
                        });
                    },function errorCallback(response) {
                      console.log('error occuring : getTemperature=function');
                    });
                }

                function getTemperature2(){
                    var params = {
                        'start' : $scope.pickDateTime.start,
                        'end' : $scope.pickDateTime.end,
                        'tKind' : '2'
                    };  
                    $http({
                        method  : 'POST',
                        url     : 'http://210.223.173.191:18000/Temperature/'+heatingFurnaceNumber,
                        data : params,
                        config: 'Content-Type: application/json;'
                    }).
                    then(function successCallback(response) {
                        var temper2Usage = [];
                        var dateIndex = 0;
                        for (var i = 0 ; i < timestamps.length ; i++) {
                            temper2Usage[i] = 0;
                        }

                        for (var i = 1 ; i < response.data.length ; i++) {
                            var index = timestamps.indexOf(response.data[i].createdAt);
                            temper2Usage[index] = response.data[i].value/10;
                        }
                        temperAmount.push({
                            'temper2' : temper2Usage
                        });
                        setGraphData();
                    },function errorCallback(response) {
                      console.log('error occuring : getTemperature=function');
                    });
                }

                // funtion setGraphData()
                // 설명 : 그래프를 그리기 위한 정보를 Set 하는 함수
                function setGraphData(){
                    var colors = ['#009966', '#0000FF', '#CC6600'];
                    var dom = document.getElementById(grapID);
                    var myChart = echarts.init(dom);
                    var app = {};
                    option = {
                        tooltip: {
                            trigger: 'axis',
                            position: function (pt) {
                                return [pt[0], '10%'];
                            }
                        },
                        grid: {
                            right: '20%'
                        },
                        toolbox: {
                            feature: {
                                dataZoom: {
                                    yAxisIndex: 'none'
                                },
                                dataView: {show: true, readOnly: false},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        legend: {
                            data:['가스','전력','온도1','온도2']
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: timestamps
                        },
                        yAxis: [
                            {
                                type: 'value',
                                boundaryGap: [0, '1%'],
                                position: 'left',
                                name : '가스량(m3)',
                                nameTextStyle :{
                                    fontWeight : 'bold'
                                }
                            },{
                                type: 'value',
                                position: 'right',
                                name : '전력량(kWh)',
                                axisLine: {
                                    lineStyle: {
                                        color: colors[0]
                                    }
                                },
                                axisLabel: {
                                    formatter: '{value} kWh'
                                },
                                nameTextStyle :{
                                    fontWeight : 'bold'
                                }
                            },{
                                type: 'value',
                                position: 'right',
                                name : '온도(C)',
                                offset: 80,
                                min: 0,
                                max: 1500,
                                axisLine: {
                                    lineStyle: {
                                        color: colors[1]
                                    }
                                },
                                axisLabel: {
                                    formatter: '{value} °C'
                                },
                                nameTextStyle :{
                                    fontWeight : 'bold'
                                }
                            },{
                                type: 'value',
                                position: 'right',
                                name : '온도2(C)',
                                offset: 150,
                                min: 0,
                                max: 1500,
                                axisLine: {
                                    lineStyle: {
                                        color: colors[2]
                                    }
                                },
                                axisLabel: {
                                    formatter: '{value} °C'
                                },
                                nameTextStyle :{
                                    fontWeight : 'bold'
                                }
                            }
                        ],
                        dataZoom: [{
                            type: 'inside',
                            start: 50,
                            end: 100
                        }, {
                            start: 0,
                            end: 10,
                            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                            handleSize: '80%',
                            handleStyle: {
                                color: '#fff',
                                shadowBlur: 3,
                                shadowColor: 'rgba(0, 0, 0, 0.6)',
                                shadowOffsetX: 2,
                                shadowOffsetY: 2
                            }
                        }],
                        series: [
                            {
                                name:'가스',
                                type:'line',
                                smooth:true,
                                symbol: 'circle',
                                symbolSize: [6,6],
                                sampling: 'average',
                                itemStyle: {
                                    color: 'rgb(255, 70, 131)'
                                },
                                areaStyle: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgb(255, 158, 68)'
                                    }, {
                                        offset: 1,
                                        color: 'rgb(255, 70, 131)'
                                    }])
                                },
                                data: gasAmount[0].usage
                            },
                            {
                                name:'전력',
                                type:'line',
                                yAxisIndex: 1,
                                itemStyle: {
                                    color: colors[0]
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: colors[0]
                                    }
                                },
                                data: electAmount[0].usage
                            },{
                                name:'온도1',
                                type:'line',
                                yAxisIndex: 2,
                                itemStyle: {
                                    color: colors[1]
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: colors[1]
                                    }
                                },
                                data: temperAmount[0].temper1
                            },{
                                name:'온도2',
                                type:'line',
                                yAxisIndex: 3,
                                itemStyle: {
                                    color: colors[2]
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: colors[2]
                                    }
                                },
                                data: temperAmount[1].temper2
                            }
                        ]
                    };
                    
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                }


                

                getGasInfo();
                getElectricityInfo();
                getTemperature1();
                getTemperature2();
                setUpdateInterval();

                function setUpdateInterval(){
                    updateInterv = $interval(function(){
                        if($scope.liveCheckbox){
                            console.log("load Data");
                            getGasInfo();
                            getElectricityInfo();
                            getTemperature1();
                            getTemperature2();
                        }
                    },60000);
                }

            }//$scope.HeatingFurnaceClass = function 

            //Gas 사용량 정보를 담은 Class 객체 생성하여 heatingFurnaceList에 추가
            for(var i=1 ; i<=5 ; i++){
                var HFclass = new HeatingFurnaceClass(i);
                heatingFurnaceList.push(HFclass);
            }

            
        });
        
    </script>
</html>